/**
 * Needed for the approach of using negative margin on the griddy-elements
 * to easily make breakout possible without setting the padding, whenever
 * an element goes from/to the void, or is nested and starts from 1 / ends at 12
 */
.griddy-container {
  overflow-x: hidden; }

.griddy {
  display: grid;
  margin-left: -15px;
  margin-right: -15px;
  grid-template-columns: 15px repeat(12, 1fr) 15px; }
  @media (min-width: 576px) {
    .griddy {
      grid-template-columns: 1fr repeat(12, 45px) 1fr; } }
  @media (min-width: 768px) {
    .griddy {
      grid-template-columns: 1fr repeat(12, 60px) 1fr; } }
  @media (min-width: 992px) {
    .griddy {
      grid-template-columns: 1fr repeat(12, 80px) 1fr; } }
  @media (min-width: 1200px) {
    .griddy {
      grid-template-columns: 1fr repeat(12, 95px) 1fr; } }

.griddy-cell {
  padding-left: 15px;
  padding-right: 15px;
  grid-row: 1; }

.griddy-center {
  align-self: center; }

.griddy-stretch {
  align-self: stretch; }

.griddy-start {
  align-self: flex-start; }

.griddy-end {
  align-self: flex-end; }

.griddy-from-void {
  grid-column-start: 1; }

.griddy-to-void {
  grid-column-end: 15; }

.griddy-void {
  grid-column-start: 1;
  grid-column-end: 15; }

.griddy-full {
  grid-column-start: 2;
  grid-column-end: 14; }

.griddy-from-1 {
  grid-column-start: 2; }

.griddy-to-1 {
  grid-column-end: 3; }

.griddy-row-1 {
  grid-row: 1; }

.griddy-from-2 {
  grid-column-start: 3; }

.griddy-to-2 {
  grid-column-end: 4; }

.griddy-row-2 {
  grid-row: 2; }

.griddy-from-3 {
  grid-column-start: 4; }

.griddy-to-3 {
  grid-column-end: 5; }

.griddy-row-3 {
  grid-row: 3; }

.griddy-from-4 {
  grid-column-start: 5; }

.griddy-to-4 {
  grid-column-end: 6; }

.griddy-row-4 {
  grid-row: 4; }

.griddy-from-5 {
  grid-column-start: 6; }

.griddy-to-5 {
  grid-column-end: 7; }

.griddy-row-5 {
  grid-row: 5; }

.griddy-from-6 {
  grid-column-start: 7; }

.griddy-to-6 {
  grid-column-end: 8; }

.griddy-row-6 {
  grid-row: 6; }

.griddy-from-7 {
  grid-column-start: 8; }

.griddy-to-7 {
  grid-column-end: 9; }

.griddy-row-7 {
  grid-row: 7; }

.griddy-from-8 {
  grid-column-start: 9; }

.griddy-to-8 {
  grid-column-end: 10; }

.griddy-row-8 {
  grid-row: 8; }

.griddy-from-9 {
  grid-column-start: 10; }

.griddy-to-9 {
  grid-column-end: 11; }

.griddy-row-9 {
  grid-row: 9; }

.griddy-from-10 {
  grid-column-start: 11; }

.griddy-to-10 {
  grid-column-end: 12; }

.griddy-row-10 {
  grid-row: 10; }

.griddy-from-11 {
  grid-column-start: 12; }

.griddy-to-11 {
  grid-column-end: 13; }

.griddy-row-11 {
  grid-row: 11; }

.griddy-from-12 {
  grid-column-start: 13; }

.griddy-to-12 {
  grid-column-end: 14; }

.griddy-row-12 {
  grid-row: 12; }

.griddy-from-1 {
  grid-column-start: 2; }

.griddy-to-1 {
  grid-column-end: 3; }

.griddy-row-1 {
  grid-row: 1; }

.griddy-from-2 {
  grid-column-start: 3; }

.griddy-to-2 {
  grid-column-end: 4; }

.griddy-row-2 {
  grid-row: 2; }

.griddy-from-3 {
  grid-column-start: 4; }

.griddy-to-3 {
  grid-column-end: 5; }

.griddy-row-3 {
  grid-row: 3; }

.griddy-from-4 {
  grid-column-start: 5; }

.griddy-to-4 {
  grid-column-end: 6; }

.griddy-row-4 {
  grid-row: 4; }

.griddy-from-5 {
  grid-column-start: 6; }

.griddy-to-5 {
  grid-column-end: 7; }

.griddy-row-5 {
  grid-row: 5; }

.griddy-from-6 {
  grid-column-start: 7; }

.griddy-to-6 {
  grid-column-end: 8; }

.griddy-row-6 {
  grid-row: 6; }

.griddy-from-7 {
  grid-column-start: 8; }

.griddy-to-7 {
  grid-column-end: 9; }

.griddy-row-7 {
  grid-row: 7; }

.griddy-from-8 {
  grid-column-start: 9; }

.griddy-to-8 {
  grid-column-end: 10; }

.griddy-row-8 {
  grid-row: 8; }

.griddy-from-9 {
  grid-column-start: 10; }

.griddy-to-9 {
  grid-column-end: 11; }

.griddy-row-9 {
  grid-row: 9; }

.griddy-from-10 {
  grid-column-start: 11; }

.griddy-to-10 {
  grid-column-end: 12; }

.griddy-row-10 {
  grid-row: 10; }

.griddy-from-11 {
  grid-column-start: 12; }

.griddy-to-11 {
  grid-column-end: 13; }

.griddy-row-11 {
  grid-row: 11; }

.griddy-from-12 {
  grid-column-start: 13; }

.griddy-to-12 {
  grid-column-end: 14; }

.griddy-row-12 {
  grid-row: 12; }

.griddy-from-void {
  grid-column-start: 1; }

.griddy-to-void {
  grid-column-end: 15; }

.griddy-void {
  grid-column-start: 1;
  grid-column-end: 15; }

.griddy-full {
  grid-column-start: 2;
  grid-column-end: 14; }

@media (min-width: 576px) {
  .griddy-sm-from-1 {
    grid-column-start: 2; }

  .griddy-sm-to-1 {
    grid-column-end: 3; }

  .griddy-sm-row-1 {
    grid-row: 1; }

  .griddy-sm-from-2 {
    grid-column-start: 3; }

  .griddy-sm-to-2 {
    grid-column-end: 4; }

  .griddy-sm-row-2 {
    grid-row: 2; }

  .griddy-sm-from-3 {
    grid-column-start: 4; }

  .griddy-sm-to-3 {
    grid-column-end: 5; }

  .griddy-sm-row-3 {
    grid-row: 3; }

  .griddy-sm-from-4 {
    grid-column-start: 5; }

  .griddy-sm-to-4 {
    grid-column-end: 6; }

  .griddy-sm-row-4 {
    grid-row: 4; }

  .griddy-sm-from-5 {
    grid-column-start: 6; }

  .griddy-sm-to-5 {
    grid-column-end: 7; }

  .griddy-sm-row-5 {
    grid-row: 5; }

  .griddy-sm-from-6 {
    grid-column-start: 7; }

  .griddy-sm-to-6 {
    grid-column-end: 8; }

  .griddy-sm-row-6 {
    grid-row: 6; }

  .griddy-sm-from-7 {
    grid-column-start: 8; }

  .griddy-sm-to-7 {
    grid-column-end: 9; }

  .griddy-sm-row-7 {
    grid-row: 7; }

  .griddy-sm-from-8 {
    grid-column-start: 9; }

  .griddy-sm-to-8 {
    grid-column-end: 10; }

  .griddy-sm-row-8 {
    grid-row: 8; }

  .griddy-sm-from-9 {
    grid-column-start: 10; }

  .griddy-sm-to-9 {
    grid-column-end: 11; }

  .griddy-sm-row-9 {
    grid-row: 9; }

  .griddy-sm-from-10 {
    grid-column-start: 11; }

  .griddy-sm-to-10 {
    grid-column-end: 12; }

  .griddy-sm-row-10 {
    grid-row: 10; }

  .griddy-sm-from-11 {
    grid-column-start: 12; }

  .griddy-sm-to-11 {
    grid-column-end: 13; }

  .griddy-sm-row-11 {
    grid-row: 11; }

  .griddy-sm-from-12 {
    grid-column-start: 13; }

  .griddy-sm-to-12 {
    grid-column-end: 14; }

  .griddy-sm-row-12 {
    grid-row: 12; }

  .griddy-sm-from-void {
    grid-column-start: 1; }

  .griddy-sm-to-void {
    grid-column-end: 15; }

  .griddy-sm-void {
    grid-column-start: 1;
    grid-column-end: 15; }

  .griddy-sm-full {
    grid-column-start: 2;
    grid-column-end: 14; } }
@media (min-width: 768px) {
  .griddy-md-from-1 {
    grid-column-start: 2; }

  .griddy-md-to-1 {
    grid-column-end: 3; }

  .griddy-md-row-1 {
    grid-row: 1; }

  .griddy-md-from-2 {
    grid-column-start: 3; }

  .griddy-md-to-2 {
    grid-column-end: 4; }

  .griddy-md-row-2 {
    grid-row: 2; }

  .griddy-md-from-3 {
    grid-column-start: 4; }

  .griddy-md-to-3 {
    grid-column-end: 5; }

  .griddy-md-row-3 {
    grid-row: 3; }

  .griddy-md-from-4 {
    grid-column-start: 5; }

  .griddy-md-to-4 {
    grid-column-end: 6; }

  .griddy-md-row-4 {
    grid-row: 4; }

  .griddy-md-from-5 {
    grid-column-start: 6; }

  .griddy-md-to-5 {
    grid-column-end: 7; }

  .griddy-md-row-5 {
    grid-row: 5; }

  .griddy-md-from-6 {
    grid-column-start: 7; }

  .griddy-md-to-6 {
    grid-column-end: 8; }

  .griddy-md-row-6 {
    grid-row: 6; }

  .griddy-md-from-7 {
    grid-column-start: 8; }

  .griddy-md-to-7 {
    grid-column-end: 9; }

  .griddy-md-row-7 {
    grid-row: 7; }

  .griddy-md-from-8 {
    grid-column-start: 9; }

  .griddy-md-to-8 {
    grid-column-end: 10; }

  .griddy-md-row-8 {
    grid-row: 8; }

  .griddy-md-from-9 {
    grid-column-start: 10; }

  .griddy-md-to-9 {
    grid-column-end: 11; }

  .griddy-md-row-9 {
    grid-row: 9; }

  .griddy-md-from-10 {
    grid-column-start: 11; }

  .griddy-md-to-10 {
    grid-column-end: 12; }

  .griddy-md-row-10 {
    grid-row: 10; }

  .griddy-md-from-11 {
    grid-column-start: 12; }

  .griddy-md-to-11 {
    grid-column-end: 13; }

  .griddy-md-row-11 {
    grid-row: 11; }

  .griddy-md-from-12 {
    grid-column-start: 13; }

  .griddy-md-to-12 {
    grid-column-end: 14; }

  .griddy-md-row-12 {
    grid-row: 12; }

  .griddy-md-from-void {
    grid-column-start: 1; }

  .griddy-md-to-void {
    grid-column-end: 15; }

  .griddy-md-void {
    grid-column-start: 1;
    grid-column-end: 15; }

  .griddy-md-full {
    grid-column-start: 2;
    grid-column-end: 14; } }
@media (min-width: 992px) {
  .griddy-lg-from-1 {
    grid-column-start: 2; }

  .griddy-lg-to-1 {
    grid-column-end: 3; }

  .griddy-lg-row-1 {
    grid-row: 1; }

  .griddy-lg-from-2 {
    grid-column-start: 3; }

  .griddy-lg-to-2 {
    grid-column-end: 4; }

  .griddy-lg-row-2 {
    grid-row: 2; }

  .griddy-lg-from-3 {
    grid-column-start: 4; }

  .griddy-lg-to-3 {
    grid-column-end: 5; }

  .griddy-lg-row-3 {
    grid-row: 3; }

  .griddy-lg-from-4 {
    grid-column-start: 5; }

  .griddy-lg-to-4 {
    grid-column-end: 6; }

  .griddy-lg-row-4 {
    grid-row: 4; }

  .griddy-lg-from-5 {
    grid-column-start: 6; }

  .griddy-lg-to-5 {
    grid-column-end: 7; }

  .griddy-lg-row-5 {
    grid-row: 5; }

  .griddy-lg-from-6 {
    grid-column-start: 7; }

  .griddy-lg-to-6 {
    grid-column-end: 8; }

  .griddy-lg-row-6 {
    grid-row: 6; }

  .griddy-lg-from-7 {
    grid-column-start: 8; }

  .griddy-lg-to-7 {
    grid-column-end: 9; }

  .griddy-lg-row-7 {
    grid-row: 7; }

  .griddy-lg-from-8 {
    grid-column-start: 9; }

  .griddy-lg-to-8 {
    grid-column-end: 10; }

  .griddy-lg-row-8 {
    grid-row: 8; }

  .griddy-lg-from-9 {
    grid-column-start: 10; }

  .griddy-lg-to-9 {
    grid-column-end: 11; }

  .griddy-lg-row-9 {
    grid-row: 9; }

  .griddy-lg-from-10 {
    grid-column-start: 11; }

  .griddy-lg-to-10 {
    grid-column-end: 12; }

  .griddy-lg-row-10 {
    grid-row: 10; }

  .griddy-lg-from-11 {
    grid-column-start: 12; }

  .griddy-lg-to-11 {
    grid-column-end: 13; }

  .griddy-lg-row-11 {
    grid-row: 11; }

  .griddy-lg-from-12 {
    grid-column-start: 13; }

  .griddy-lg-to-12 {
    grid-column-end: 14; }

  .griddy-lg-row-12 {
    grid-row: 12; }

  .griddy-lg-from-void {
    grid-column-start: 1; }

  .griddy-lg-to-void {
    grid-column-end: 15; }

  .griddy-lg-void {
    grid-column-start: 1;
    grid-column-end: 15; }

  .griddy-lg-full {
    grid-column-start: 2;
    grid-column-end: 14; } }
@media (min-width: 1200px) {
  .griddy-xl-from-1 {
    grid-column-start: 2; }

  .griddy-xl-to-1 {
    grid-column-end: 3; }

  .griddy-xl-row-1 {
    grid-row: 1; }

  .griddy-xl-from-2 {
    grid-column-start: 3; }

  .griddy-xl-to-2 {
    grid-column-end: 4; }

  .griddy-xl-row-2 {
    grid-row: 2; }

  .griddy-xl-from-3 {
    grid-column-start: 4; }

  .griddy-xl-to-3 {
    grid-column-end: 5; }

  .griddy-xl-row-3 {
    grid-row: 3; }

  .griddy-xl-from-4 {
    grid-column-start: 5; }

  .griddy-xl-to-4 {
    grid-column-end: 6; }

  .griddy-xl-row-4 {
    grid-row: 4; }

  .griddy-xl-from-5 {
    grid-column-start: 6; }

  .griddy-xl-to-5 {
    grid-column-end: 7; }

  .griddy-xl-row-5 {
    grid-row: 5; }

  .griddy-xl-from-6 {
    grid-column-start: 7; }

  .griddy-xl-to-6 {
    grid-column-end: 8; }

  .griddy-xl-row-6 {
    grid-row: 6; }

  .griddy-xl-from-7 {
    grid-column-start: 8; }

  .griddy-xl-to-7 {
    grid-column-end: 9; }

  .griddy-xl-row-7 {
    grid-row: 7; }

  .griddy-xl-from-8 {
    grid-column-start: 9; }

  .griddy-xl-to-8 {
    grid-column-end: 10; }

  .griddy-xl-row-8 {
    grid-row: 8; }

  .griddy-xl-from-9 {
    grid-column-start: 10; }

  .griddy-xl-to-9 {
    grid-column-end: 11; }

  .griddy-xl-row-9 {
    grid-row: 9; }

  .griddy-xl-from-10 {
    grid-column-start: 11; }

  .griddy-xl-to-10 {
    grid-column-end: 12; }

  .griddy-xl-row-10 {
    grid-row: 10; }

  .griddy-xl-from-11 {
    grid-column-start: 12; }

  .griddy-xl-to-11 {
    grid-column-end: 13; }

  .griddy-xl-row-11 {
    grid-row: 11; }

  .griddy-xl-from-12 {
    grid-column-start: 13; }

  .griddy-xl-to-12 {
    grid-column-end: 14; }

  .griddy-xl-row-12 {
    grid-row: 12; }

  .griddy-xl-from-void {
    grid-column-start: 1; }

  .griddy-xl-to-void {
    grid-column-end: 15; }

  .griddy-xl-void {
    grid-column-start: 1;
    grid-column-end: 15; }

  .griddy-xl-full {
    grid-column-start: 2;
    grid-column-end: 14; } }
.griddy .griddy {
  grid-template-columns: repeat(12, 1fr); }
  .griddy .griddy .griddy-from-void {
    grid-column-start: 1; }
  .griddy .griddy .griddy-to-void {
    grid-column-end: 13; }
  .griddy .griddy .griddy-void {
    grid-column-start: 1;
    grid-column-end: 13; }
  .griddy .griddy .griddy-full {
    grid-column-start: 1;
    grid-column-end: 13; }
  .griddy .griddy .griddy-from-1 {
    grid-column-start: 1; }
  .griddy .griddy .griddy-to-1 {
    grid-column-end: 2; }
  .griddy .griddy .griddy-from-2 {
    grid-column-start: 2; }
  .griddy .griddy .griddy-to-2 {
    grid-column-end: 3; }
  .griddy .griddy .griddy-from-3 {
    grid-column-start: 3; }
  .griddy .griddy .griddy-to-3 {
    grid-column-end: 4; }
  .griddy .griddy .griddy-from-4 {
    grid-column-start: 4; }
  .griddy .griddy .griddy-to-4 {
    grid-column-end: 5; }
  .griddy .griddy .griddy-from-5 {
    grid-column-start: 5; }
  .griddy .griddy .griddy-to-5 {
    grid-column-end: 6; }
  .griddy .griddy .griddy-from-6 {
    grid-column-start: 6; }
  .griddy .griddy .griddy-to-6 {
    grid-column-end: 7; }
  .griddy .griddy .griddy-from-7 {
    grid-column-start: 7; }
  .griddy .griddy .griddy-to-7 {
    grid-column-end: 8; }
  .griddy .griddy .griddy-from-8 {
    grid-column-start: 8; }
  .griddy .griddy .griddy-to-8 {
    grid-column-end: 9; }
  .griddy .griddy .griddy-from-9 {
    grid-column-start: 9; }
  .griddy .griddy .griddy-to-9 {
    grid-column-end: 10; }
  .griddy .griddy .griddy-from-10 {
    grid-column-start: 10; }
  .griddy .griddy .griddy-to-10 {
    grid-column-end: 11; }
  .griddy .griddy .griddy-from-11 {
    grid-column-start: 11; }
  .griddy .griddy .griddy-to-11 {
    grid-column-end: 12; }
  .griddy .griddy .griddy-from-12 {
    grid-column-start: 12; }
  .griddy .griddy .griddy-to-12 {
    grid-column-end: 13; }
  .griddy .griddy .griddy-from-1 {
    grid-column-start: 1; }
  .griddy .griddy .griddy-to-1 {
    grid-column-end: 2; }
  .griddy .griddy .griddy-from-2 {
    grid-column-start: 2; }
  .griddy .griddy .griddy-to-2 {
    grid-column-end: 3; }
  .griddy .griddy .griddy-from-3 {
    grid-column-start: 3; }
  .griddy .griddy .griddy-to-3 {
    grid-column-end: 4; }
  .griddy .griddy .griddy-from-4 {
    grid-column-start: 4; }
  .griddy .griddy .griddy-to-4 {
    grid-column-end: 5; }
  .griddy .griddy .griddy-from-5 {
    grid-column-start: 5; }
  .griddy .griddy .griddy-to-5 {
    grid-column-end: 6; }
  .griddy .griddy .griddy-from-6 {
    grid-column-start: 6; }
  .griddy .griddy .griddy-to-6 {
    grid-column-end: 7; }
  .griddy .griddy .griddy-from-7 {
    grid-column-start: 7; }
  .griddy .griddy .griddy-to-7 {
    grid-column-end: 8; }
  .griddy .griddy .griddy-from-8 {
    grid-column-start: 8; }
  .griddy .griddy .griddy-to-8 {
    grid-column-end: 9; }
  .griddy .griddy .griddy-from-9 {
    grid-column-start: 9; }
  .griddy .griddy .griddy-to-9 {
    grid-column-end: 10; }
  .griddy .griddy .griddy-from-10 {
    grid-column-start: 10; }
  .griddy .griddy .griddy-to-10 {
    grid-column-end: 11; }
  .griddy .griddy .griddy-from-11 {
    grid-column-start: 11; }
  .griddy .griddy .griddy-to-11 {
    grid-column-end: 12; }
  .griddy .griddy .griddy-from-12 {
    grid-column-start: 12; }
  .griddy .griddy .griddy-to-12 {
    grid-column-end: 13; }
  .griddy .griddy .griddy-from-void {
    grid-column-start: 1; }
  .griddy .griddy .griddy-to-void {
    grid-column-end: 13; }
  .griddy .griddy .griddy-void {
    grid-column-start: 1;
    grid-column-end: 13; }
  .griddy .griddy .griddy-full {
    grid-column-start: 1;
    grid-column-end: 13; }
  @media (min-width: 576px) {
    .griddy .griddy .griddy-sm-from-1 {
      grid-column-start: 1; }
    .griddy .griddy .griddy-sm-to-1 {
      grid-column-end: 2; }
    .griddy .griddy .griddy-sm-from-2 {
      grid-column-start: 2; }
    .griddy .griddy .griddy-sm-to-2 {
      grid-column-end: 3; }
    .griddy .griddy .griddy-sm-from-3 {
      grid-column-start: 3; }
    .griddy .griddy .griddy-sm-to-3 {
      grid-column-end: 4; }
    .griddy .griddy .griddy-sm-from-4 {
      grid-column-start: 4; }
    .griddy .griddy .griddy-sm-to-4 {
      grid-column-end: 5; }
    .griddy .griddy .griddy-sm-from-5 {
      grid-column-start: 5; }
    .griddy .griddy .griddy-sm-to-5 {
      grid-column-end: 6; }
    .griddy .griddy .griddy-sm-from-6 {
      grid-column-start: 6; }
    .griddy .griddy .griddy-sm-to-6 {
      grid-column-end: 7; }
    .griddy .griddy .griddy-sm-from-7 {
      grid-column-start: 7; }
    .griddy .griddy .griddy-sm-to-7 {
      grid-column-end: 8; }
    .griddy .griddy .griddy-sm-from-8 {
      grid-column-start: 8; }
    .griddy .griddy .griddy-sm-to-8 {
      grid-column-end: 9; }
    .griddy .griddy .griddy-sm-from-9 {
      grid-column-start: 9; }
    .griddy .griddy .griddy-sm-to-9 {
      grid-column-end: 10; }
    .griddy .griddy .griddy-sm-from-10 {
      grid-column-start: 10; }
    .griddy .griddy .griddy-sm-to-10 {
      grid-column-end: 11; }
    .griddy .griddy .griddy-sm-from-11 {
      grid-column-start: 11; }
    .griddy .griddy .griddy-sm-to-11 {
      grid-column-end: 12; }
    .griddy .griddy .griddy-sm-from-12 {
      grid-column-start: 12; }
    .griddy .griddy .griddy-sm-to-12 {
      grid-column-end: 13; }
    .griddy .griddy .griddy-sm-from-void {
      grid-column-start: 1; }
    .griddy .griddy .griddy-sm-to-void {
      grid-column-end: 13; }
    .griddy .griddy .griddy-sm-void {
      grid-column-start: 1;
      grid-column-end: 13; }
    .griddy .griddy .griddy-sm-full {
      grid-column-start: 1;
      grid-column-end: 13; } }
  @media (min-width: 768px) {
    .griddy .griddy .griddy-md-from-1 {
      grid-column-start: 1; }
    .griddy .griddy .griddy-md-to-1 {
      grid-column-end: 2; }
    .griddy .griddy .griddy-md-from-2 {
      grid-column-start: 2; }
    .griddy .griddy .griddy-md-to-2 {
      grid-column-end: 3; }
    .griddy .griddy .griddy-md-from-3 {
      grid-column-start: 3; }
    .griddy .griddy .griddy-md-to-3 {
      grid-column-end: 4; }
    .griddy .griddy .griddy-md-from-4 {
      grid-column-start: 4; }
    .griddy .griddy .griddy-md-to-4 {
      grid-column-end: 5; }
    .griddy .griddy .griddy-md-from-5 {
      grid-column-start: 5; }
    .griddy .griddy .griddy-md-to-5 {
      grid-column-end: 6; }
    .griddy .griddy .griddy-md-from-6 {
      grid-column-start: 6; }
    .griddy .griddy .griddy-md-to-6 {
      grid-column-end: 7; }
    .griddy .griddy .griddy-md-from-7 {
      grid-column-start: 7; }
    .griddy .griddy .griddy-md-to-7 {
      grid-column-end: 8; }
    .griddy .griddy .griddy-md-from-8 {
      grid-column-start: 8; }
    .griddy .griddy .griddy-md-to-8 {
      grid-column-end: 9; }
    .griddy .griddy .griddy-md-from-9 {
      grid-column-start: 9; }
    .griddy .griddy .griddy-md-to-9 {
      grid-column-end: 10; }
    .griddy .griddy .griddy-md-from-10 {
      grid-column-start: 10; }
    .griddy .griddy .griddy-md-to-10 {
      grid-column-end: 11; }
    .griddy .griddy .griddy-md-from-11 {
      grid-column-start: 11; }
    .griddy .griddy .griddy-md-to-11 {
      grid-column-end: 12; }
    .griddy .griddy .griddy-md-from-12 {
      grid-column-start: 12; }
    .griddy .griddy .griddy-md-to-12 {
      grid-column-end: 13; }
    .griddy .griddy .griddy-md-from-void {
      grid-column-start: 1; }
    .griddy .griddy .griddy-md-to-void {
      grid-column-end: 13; }
    .griddy .griddy .griddy-md-void {
      grid-column-start: 1;
      grid-column-end: 13; }
    .griddy .griddy .griddy-md-full {
      grid-column-start: 1;
      grid-column-end: 13; } }
  @media (min-width: 992px) {
    .griddy .griddy .griddy-lg-from-1 {
      grid-column-start: 1; }
    .griddy .griddy .griddy-lg-to-1 {
      grid-column-end: 2; }
    .griddy .griddy .griddy-lg-from-2 {
      grid-column-start: 2; }
    .griddy .griddy .griddy-lg-to-2 {
      grid-column-end: 3; }
    .griddy .griddy .griddy-lg-from-3 {
      grid-column-start: 3; }
    .griddy .griddy .griddy-lg-to-3 {
      grid-column-end: 4; }
    .griddy .griddy .griddy-lg-from-4 {
      grid-column-start: 4; }
    .griddy .griddy .griddy-lg-to-4 {
      grid-column-end: 5; }
    .griddy .griddy .griddy-lg-from-5 {
      grid-column-start: 5; }
    .griddy .griddy .griddy-lg-to-5 {
      grid-column-end: 6; }
    .griddy .griddy .griddy-lg-from-6 {
      grid-column-start: 6; }
    .griddy .griddy .griddy-lg-to-6 {
      grid-column-end: 7; }
    .griddy .griddy .griddy-lg-from-7 {
      grid-column-start: 7; }
    .griddy .griddy .griddy-lg-to-7 {
      grid-column-end: 8; }
    .griddy .griddy .griddy-lg-from-8 {
      grid-column-start: 8; }
    .griddy .griddy .griddy-lg-to-8 {
      grid-column-end: 9; }
    .griddy .griddy .griddy-lg-from-9 {
      grid-column-start: 9; }
    .griddy .griddy .griddy-lg-to-9 {
      grid-column-end: 10; }
    .griddy .griddy .griddy-lg-from-10 {
      grid-column-start: 10; }
    .griddy .griddy .griddy-lg-to-10 {
      grid-column-end: 11; }
    .griddy .griddy .griddy-lg-from-11 {
      grid-column-start: 11; }
    .griddy .griddy .griddy-lg-to-11 {
      grid-column-end: 12; }
    .griddy .griddy .griddy-lg-from-12 {
      grid-column-start: 12; }
    .griddy .griddy .griddy-lg-to-12 {
      grid-column-end: 13; }
    .griddy .griddy .griddy-lg-from-void {
      grid-column-start: 1; }
    .griddy .griddy .griddy-lg-to-void {
      grid-column-end: 13; }
    .griddy .griddy .griddy-lg-void {
      grid-column-start: 1;
      grid-column-end: 13; }
    .griddy .griddy .griddy-lg-full {
      grid-column-start: 1;
      grid-column-end: 13; } }
  @media (min-width: 1200px) {
    .griddy .griddy .griddy-xl-from-1 {
      grid-column-start: 1; }
    .griddy .griddy .griddy-xl-to-1 {
      grid-column-end: 2; }
    .griddy .griddy .griddy-xl-from-2 {
      grid-column-start: 2; }
    .griddy .griddy .griddy-xl-to-2 {
      grid-column-end: 3; }
    .griddy .griddy .griddy-xl-from-3 {
      grid-column-start: 3; }
    .griddy .griddy .griddy-xl-to-3 {
      grid-column-end: 4; }
    .griddy .griddy .griddy-xl-from-4 {
      grid-column-start: 4; }
    .griddy .griddy .griddy-xl-to-4 {
      grid-column-end: 5; }
    .griddy .griddy .griddy-xl-from-5 {
      grid-column-start: 5; }
    .griddy .griddy .griddy-xl-to-5 {
      grid-column-end: 6; }
    .griddy .griddy .griddy-xl-from-6 {
      grid-column-start: 6; }
    .griddy .griddy .griddy-xl-to-6 {
      grid-column-end: 7; }
    .griddy .griddy .griddy-xl-from-7 {
      grid-column-start: 7; }
    .griddy .griddy .griddy-xl-to-7 {
      grid-column-end: 8; }
    .griddy .griddy .griddy-xl-from-8 {
      grid-column-start: 8; }
    .griddy .griddy .griddy-xl-to-8 {
      grid-column-end: 9; }
    .griddy .griddy .griddy-xl-from-9 {
      grid-column-start: 9; }
    .griddy .griddy .griddy-xl-to-9 {
      grid-column-end: 10; }
    .griddy .griddy .griddy-xl-from-10 {
      grid-column-start: 10; }
    .griddy .griddy .griddy-xl-to-10 {
      grid-column-end: 11; }
    .griddy .griddy .griddy-xl-from-11 {
      grid-column-start: 11; }
    .griddy .griddy .griddy-xl-to-11 {
      grid-column-end: 12; }
    .griddy .griddy .griddy-xl-from-12 {
      grid-column-start: 12; }
    .griddy .griddy .griddy-xl-to-12 {
      grid-column-end: 13; }
    .griddy .griddy .griddy-xl-from-void {
      grid-column-start: 1; }
    .griddy .griddy .griddy-xl-to-void {
      grid-column-end: 13; }
    .griddy .griddy .griddy-xl-void {
      grid-column-start: 1;
      grid-column-end: 13; }
    .griddy .griddy .griddy-xl-full {
      grid-column-start: 1;
      grid-column-end: 13; } }

/*# sourceMappingURL=dist.css.map */
